AXEW_RUST_PORT=7001
AXEW_AI_PORT=7002
AXEW_ENV=development
AXEW_FFMPEG_PATH=ffmpeg
AXEW_FFPROBE_PATH=ffprobe
AXEW_MODELS_DIR=~/.axew/models
AXEW_PROJECTS_DIR=~/.axew/projects
AXEW_CACHE_DIR=~/.axew/cache
OLLAMA_HOST=http://localhost:11434
HF_TOKEN=
